@font-face {
    font-family: Roboto;
    src: url(./Fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(./Fonts/BebasNeue-Regular.ttf);
}

#IncluideInventory {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#IncluideInventory .RightBox {
    height:100%;
    width:761px;
    background:transparent;
    position:absolute;
    right: 0px;
}

#IncluideInventory .Container {
    height:80%;
    width:90%;
    margin-top: 50px;
    background:rgba(0,0,0,0.3);
    left: auto;
    padding: 15px 15px 10px 15px;
}

#IncluideInventory #SlotsContainer {
    background-color: rgba(0,0,0,0.6);
    height: 90%;
    overflow-y: auto;
}

#IncluideInventory .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#IncluideInventory .col-3 {
    -ms-flex: 0 0 19.7%;
    flex: 0 0 19.7%;
    max-width: 19.7%;
    margin: 1px;
}

#IncluideInventory .Slots {
    background-color: rgba(0,0,0,0.5);
    width: 135px;
    height: 135px;
    margin: 0 auto;
    z-index: 20;
    position: relative;
    -webkit-user-select: none;
}

#IncluideInventory .Slots .Label {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    background-color:  rgba(200, 200, 200, 0.2);
    bottom: 0px;
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#IncluideInventory .Slots .Limit {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    z-index: 2;
    position: absolute;
    left: 5px;
    user-select: none;
}

#IncluideInventory .Slots .Weight {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    z-index: 2;
    position: absolute;
    Right: 5px;
    user-select: none;
}

#IncluideInventory input {
    background-color: transparent;
    outline: none;
    width: 50px;
    font-size: 15px;
    text-align: center;
    color: white;
    left: 36%;
    bottom: 10px;
    position: absolute;
    border-width: 0px 0px 2px;
    border-color: rgba(200, 200, 200, 0.5);
    transition: border-color 0.2s ease-in-out;
    z-index: 20;
}

#IncluideInventory input:focus {
    border-color: rgba(200, 200, 200, 1);
}

#IncluideInventory .ButtonContainer {
    background: transparent;
    max-height: 100px;
    width: 100%;
    margin-top: 10px;
    height: 70px;
}


#IncluideInventory #Use {
    background-color:  rgba(0, 0, 0, 0.7);
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

#IncluideInventory #Use > a {
    font-family: Bebas;
    color:  rgba(200, 200, 200, 1);
    font-size: 25px;
    text-align: center;
    top: 20px;
    position: relative;
    user-select: none;
}


#IncluideInventory #Give {
    background-color:  rgba(0, 0, 0, 0.7);
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}
#IncluideInventory #Give > p {
    font-family: Bebas;
    color:  rgba(200, 200, 200, 1);
    font-size: 25px;
    top: 5px;
    position: relative;
    text-align: center;
    user-select: none;
}

#IncluideInventory #Throw {
    background-color:  rgba(0, 0, 0, 0.7);
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

#IncluideInventory #Throw > p {
    font-family: Bebas;
    color:  rgba(200, 200, 200, 1);
    font-size: 25px;
    top: 5px;
    position: relative;
    text-align: center;
    user-select: none;
}

#IncluideInventory #TotalWeight {
    font-family: Bebas;
    color:  rgba(200, 200, 200, 1);
    font-size: 28px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

#QuickSlots {
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#QuickSlots .BottomBox {
    width:500px;
    height:100%;
    background:transparent;
    margin:auto;
    position: relative;
}

#QuickSlots .BottomBox .asd {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
}

#IncluideInventory .ghost {
    opacity: .5;
}

#IncluideInventory .hide {
    display: none;
}
      
#IncluideInventory .Slots:hover + .hide {
    display: inline-block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    position: absolute;;
    width: 300px;
    height: 380px;
    /*left: -320;*/
    text-align: center;
    /*top: 50;*/
    background-color:  transparent;
    z-index: 100;
}

#IncluideInventory .test {
    background-color:  rgba(0, 0, 0, 0.9);
    z-index: 1000;
    position: absolute;
    height: 100%;
    left: -315;
    top: -136;
    width: 100%;
}

#IncluideInventory .test::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 100%;
    margin-top: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#IncluideInventory .hide .title {
    font-family: Bebas;
    font-size: 30;
    color: rgba(200, 200, 200, 1);
    margin-top: 10px;
    position: absolute;
    display: block;
    width: 320px;
}

#IncluideInventory .ImageDescription {
    display: inline-block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
}

#IncluideInventory .Description {
    font-family: Bebas;
    text-align: justify;
    font-size: 18;
    padding-top: 10px;
    color:  rgba(200,200,200,0.5);
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#IncluideInventory #Loot {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}

#IncluideInventory #Loot .LeftBox {
    height:100%;
    width:1040px;
    background:transparent;
    position:absolute;
    left: 0px;
}

#IncluideInventory #Loot .Container {
    height:60%;
    width:92%;
    margin-top: 50px;
    background:rgba(0,0,0,0.3);
    right: 0;
    position: absolute;
    padding: 15px 15px 10px;
}

#IncluideInventory #Loot #SlotsContainerLoot {
    background-color: rgba(0,0,0,0.6);
    height: 88%;
    overflow-y: auto;
}

#IncluideInventory #Loot .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#IncluideInventory #Loot .col-3 {
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
    margin: 1px;
}

#IncluideInventory #Loot .SlotsLoot {
    background-color: rgba(0,0,0,0.5);
    width: 135px;
    height: 135px;
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
}

#IncluideInventory #Loot .SlotsLoot .Label {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    background-color:  rgba(200, 200, 200, 0.2);
    bottom: 0px;
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#IncluideInventory #Loot .SlotsLoot .Limit {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    z-index: 2;
    position: absolute;
    left: 5px;
    user-select: none;
}

#IncluideInventory #Loot .SlotsLoot .Weight {
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    z-index: 2;
    position: absolute;
    Right: 5px;
    user-select: none;
}

#IncluideInventory #Loot .CenterContainer {
    background: transparent;
    max-height: 100px;
    width: 100%;
    /*margin-top: 10px;*/
    height: 70px;
    text-align: center;
}

#IncluideInventory #Loot .CenterContainer > a {
    font-family: Bebas;
    font-size: 70;
    color: rgba(200, 200, 200, 1);
    user-select: none;
}