@font-face {
    font-family: Roboto;
    src: url(./Fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(./Fonts/BebasNeue-Regular.ttf);
}
  
#IncluideIdentity p {
	user-select: none;
    font-family: Bebas;
    color: rgba(200, 200, 200, 1);
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}
  
#IncluideIdentity .LeftBox {
	position: absolute;
    background-color: rgba(35,35,35,0.95);
    left: auto;
    width: 500px;
    height: 100%;
    text-align: center;
} 

#IncluideIdentity .Logo {
	background: url(./Images/logo.png);
    width: 300px;
    height: 250px;
    margin:0px auto;
    margin-top: 40px;
}

#IncluideIdentity #Title {
	font-size: 36;
}
  
#IncluideIdentity button {
    user-select: none;
	background-color: rgba(200, 200, 200, 0.5);
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 12px 60px 12px 60px;
    transition: background-color 0.2s;
    font-family: Bebas;
    font-size: 20px;
}
  
#IncluideIdentity button:hover {
	background-color: rgba(200, 200, 200, 1);
}
  
#IncluideIdentity input {
	margin-bottom: 5px;
    background-color: transparent;
    outline: none;
    width: 90%;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: white;
    border-width: 0px 0px 2px;
    border-color: rgba(200, 200, 200, 0.5);
    transition: border-color 0.2s ease-in-out;
}
  
#IncluideIdentity input:focus {
	border-color: rgba(200, 200, 200, 1);
}
  
#IncluideIdentity input.Checkbox{
	width : 20px;
    height : 20px;
}
  
#IncluideIdentity .CheckboxContainer {
	display: flex;
    justify-content: center;
}
  
#IncluideIdentity .InfoBox {
	position: absolute;
    bottom: 0;
    left: 5px;
}

#IncluideIdentity .InfoBox > p {
	font-family: Roboto;
    font-size: 12px;
    color: rgba(200, 200, 200, 1);
    margin-top: 0px;
}
  
#IncluideIdentity .CheckboxGender {
	margin: 0px 30px 0px 30px;
    padding: 0px;
}
  
#IncluideIdentity .CheckboxGender > p {
	font-size: 16;
    margin-top: 0px;
}

#IncluideIdentity #SkillsDetails {
    border: solid 1px rgba(250, 255, 225, 0.2);
    border-radius: 5px;
    width: 300px;
    height: 100px;
    margin: auto;
    padding-top: 5px;
    overflow-y: auto;
}

#IncluideIdentity #SkillsDetails > p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    margin: 2px 10px 0px 10px;
}

#IncluideIdentity .Select-List {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  margin: auto;
}
  
#IncluideIdentity .Select-List select {
    display: none;
}
  
#IncluideIdentity .select-selected {
    background-color: rgba(200, 200, 200, 0.5);
}

#IncluideIdentity .select-selected:after {
	position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    overflow-y: scroll;
}

#IncluideIdentity .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

#IncluideIdentity .select-items div,.select-selected {
    color: #ffffff;
    font-size: 14;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

#IncluideIdentity .select-items {
    position: absolute;
    background-color: rgba(100, 100, 100, 1.0);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow-y: auto;
    max-height: 135px;
}

#IncluideIdentity .select-hide {
    display: none;
}
  
#IncluideIdentity .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
