## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, plume esx"

## You MAY edit the following:
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sv_licenseKey "{{svLicense}}"
sets locale "root-AQ" 
set mysql_connection_string "{{dbConnectionString}}"

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure rconlog
ensure baseevents
ensure mysql-async
ensure zombieoutbreak

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}